*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  min-width: 280px;
  min-height: 100vh;
  position: relative;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}

.experience-mob {
  display: none;
}
/* ___HEADER-START___ */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px;
  z-index: 10;
  /* background-color: var(--color-black); */
  /* border-radius: 50px; */
  background: linear-gradient(132deg, #ec5218, #1665c1);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite;
  z-index: 99;
}
@keyframes BackgroundGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.header-nav__list {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  text-transform: uppercase;
}

.header-nav__item {
  position: relative;
}

.header-nav__link {
  color: var(--color-white2);
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.link:hover {
  color: var(--color-hover);
  /* transition: .3s ease-in-out; */
}

.link::before {
  border-radius: 1px;
  background-color: var(--color-hover);
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 2px;
  transform: translateX(-50%);
  transition: width 0.25s ease-in-out;
}

.link:hover::before {
  width: 100%;
}

/* ____MENU BURGER____ */

.header__burger-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  display: none;
}
.line {
  fill: none;
  stroke: var(--color-violet);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


/* ______MAIN_____ */
#about-me {
  height: 100vh;
}

#skills {
  height: 100vh;
  align-items: center;
}

#experience {
  height: 100vh;
}

#courses {
  height: 100vh;
}

#language {
  height: 100vh;
}

.hero {
  padding-top: 18rem;
  display: flex;
  align-items: center;
}

.hero-title {
  color: var(--color-white2);
  font-weight: 100;
  font-size: 4rem;
  text-shadow: 0 0px 10px rgba(251, 12, 211, 0.9);
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 1.2s ease 0s;
}
.hero-title.active {
  transform: translate(0, 0);
  opacity: 1;
}

.hero-description {
  color: var(--color-white2);
  max-width: 80%;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.hero-description.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease 0.3s;
}

.social-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
  gap: 35px;
  position: relative;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 1s ease 0s;
}
.social-items.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1s ease 0.5s;
}

.icon {
  width: 25px;
  height: 25px;
}

.soc-link {
  color: var(--color-white2);
  transition: 0.3s ease-in-out;
  position: relative;
  top: -6px;
}
.soc-link:hover {
  color: var(--color-hover);
}

.hero-photo {
  height: 50%;
  width: 25%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 11px #26272c;

  transform: scale(0);
  opacity: 0;
  transition: all 1s ease 0s;
}
.hero-photo.active {
  transform: scale(1);
  opacity: 1;
  transition: all 1s ease 0.3s;
}

.hero-photo__mob {
  display: none;
  height: 50%;
  width: 25%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 11px #26272c;

  transform: scale(0);
  opacity: 0;
  transition: all 1s ease 0s;
}
.hero-photo__mob.active {
  transform: scale(1);
  opacity: 1;
  transition: all 1s ease 0.3s;
}

/* ____ABOUT ME___ */
.about-me {
  color: var(--color-white2);
  margin-top: 5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-me__title {
  font-weight: 100;
  padding-bottom: 30px;
  position: relative;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}
.about-me__title.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.6s ease 0.3s;
}

.about-me__title::after {
  background-color: var(--color-violet);
  content: "";
  display: block;
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: 40%;
  width: 10rem;
  height: 3px;
  border-radius: 10px;
}

.about-me__p {
  max-width: 80%;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}
.about-me__p.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.6s ease 0.4s;
}

.about-me__left {
  max-width: 50%;
}

.about-me__img {
  max-width: 50%;

  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.9s ease 0s;
}
.about-me__img.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.9s ease 0.4s;
}

/* _______SKILLS______ */

.skills__title-wrapper {
  align-self: flex-start;
}

.skills {
  /* padding-top: 7rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  flex-direction: column;
}

.skills-items {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-title {
  color: var(--color-white2);
  font-weight: 100;
  letter-spacing: 3px;
  position: relative;
  padding-bottom: 30px;

  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.6s ease 0s;
}
.skills-title::after {
  background-color: var(--color-violet);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 40%;
  width: 6rem;
  height: 3px;
  border-radius: 10px;
}
.skills-title.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.6s ease 0.2s;
}

.skills-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  color: var(--color-white2);
}

.html {
  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.html.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.7s ease 0.4s;
}

.css {
  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.css.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.7s ease 0.5s;
}

.js {
  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.js.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.7s ease 0.6s;
}

.git {
  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.git.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.7s ease 0.7s;
}

.figma {
  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.figma.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.7s ease 0.8s;
}

.github {
  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.github.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.7s ease 0.9s;
}

.faceit {
  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.faceit.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.7s ease 1s;
}

.skills-icon {
  width: 25px;
  height: 25px;
}

.card-header {
  display: flex;
}

.skills-card__progress-bar {
  background-color: var();
}

/* _________SWIPER EXP________ */
.swiper-slide {
  position: block;
}
.exp__img-wrapper {
  position: relative;

  height: 100%;
  width: 100%;
}

.my-swiper {
  position: relative;
  width: 100%;
  height: 50rem;
}

.exp-image {
  border-radius: 10px;
}

.exp__descr-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.92);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;

  transition: opacity 0.2s, visibility 0.2s;
}
.exp__img-wrapper:hover .exp__descr-block {
  visibility: visible;
  opacity: 1;
}

.exp__left-side {
  padding: 40px;
}
.exp-item__title {
  padding-bottom: 2.3rem;
  color: var(--color-white2);
  font-weight: 100;
}

.exp-item__descrp {
  color: var(--color-white2);
  max-width: 80%;
}

.exp-item__links {
  padding: 40px;
  color: var(--color-white2);
}
.exp-item__url {
  color: var(--color-white2);
  position: relative;
  top: -5px;
  transition: 0.3s ease-in-out;
  padding: 0 15px 0 0;
}
.exp-item__url:hover {
  color: var(--color-hover);
}

/* ________EXP SECTION____________ */
.exp-title {
  color: var(--color-white2);
  font-weight: 100;
  position: relative;
  padding-top: 3.6rem;
  margin-bottom: 30px;
}

.exp-title::after {
  background-color: var(--color-violet);
  content: "";
  display: block;
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: 0;
  width: 10rem;
  height: 3px;
  border-radius: 10px;
}

.exp-image {
  height: 100%;
  width: 100%;
}

/* ____________________КУРИЦЫ__________________ */
.courses {
  margin-top: 9rem;
  color: var(--color-white2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.crs-title__wrapper {
  align-self: flex-start;
}

.courses-title {
  font-weight: 100;
  position: relative;
  margin-bottom: 30px;

  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.courses-title::after {
  background-color: var(--color-violet);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 7.5rem;
  height: 3px;
  border-radius: 10px;
}
.courses-title.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.7s ease 0.2s;
}

.crs__card-title {
  font-weight: 100;
  padding: 10px 0 15px 0;
}
.crs__card-p {
  padding: 10px;
}

.crs__card-item {
  background-color: var(--color-white-05);
  border: 1px solid var(--color-white-05);
  border-radius: 10px;
  padding: 10px 0 10px 20px;
  margin-top: 20px;

  transform: translate(0px, 120%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.crs__card-item.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.7s ease 0.2s;
}

/* ____________LANGUAGE_____________ */
.lang-title__wrapper {
  color: var(--color-white2);
  font-weight: 100;
  align-self: flex-start;
  position: relative;
  margin-bottom: 5rem;
}
.lang-title {
  font-weight: 100;
}
.lang-title::after {
  background-color: var(--color-violet);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 9rem;
  height: 3px;
  border-radius: 10px;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-white2);
}

.lang-items {
  display: flex;

  gap: 5rem;
}

.footer-icon {
  width: 55px;
  height: 55px;
}

.footer-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* __________START MEDIA QUARES_________ */

@media (max-width: 960px) {
  .hero-title {
    font-size: 3rem;
  }

  .about-me__right {
    width: 300px;
  }
  .about-me__img {
    height: 190px;
  }
}

@media (max-width: 768px) {
  /* MENU BURGER */

  .header__burger-btn {
    display: block;
    position: relative;
    top: 28px;
    right: -28px;
    z-index: 50;
  }

  .header-nav__list {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    transform: translateX(-150%);
    transition: 0.4s all ease-in-out;
    box-shadow: 93px 22px 79px 0 rgba(0, 0, 0, 0.47);
    overflow: auto;
  }
  .header-nav__list.active {
    transform: translateX(0);
  }
  .header-nav__list>li>a {
    color: var(--color-hover);
  }

  body.noscroll {
    overflow: hidden;
  }


  .header {
    right: unset;
    width: unset;
    top: -55px;
    left: -50px;
    border-radius: 29%;
    width: 150px;
    height: 150px;
    
  }

  .hero {
    padding-top: 8rem;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-photo {
    width: 31%;
  }

  .about-me__p {
    max-width: unset;
  }
  .about-me__right {
    width: unset;
  }
  .about-me__img {
    width: 150px;
    height: 250px;
    max-width: unset;
  }

  .my-swiper {
    height: 50vh;
  }

  .courses {
    margin-top: unset;
  }
  #coueses {
    height: 80vh;
  }
  #experince {
    height: 80vh;
  }
}

@media (max-width: 600px) {
  .hero-description {
    font-size: small;
  }
  
  .social-items{
    font-size: 10px;
    gap: 20px;
  }

  .about-me__p {
    font-size: small;
  }

  #experience {
    padding-top: 50px;
  }

  .crs__card-p {
    font-size: small;
  }
}

@media (max-width: 425px) {
  .header {
    top: -73px;
    left: -66px;
  }

  .header__burger-btn {
    top: 37px;
    right: -48px;
  }

  .header__burger-btn>svg {
    width: 70px;
  }

  .hero {
    padding-top: 5rem;
    text-align: center;
  }

  .hero-description {
    max-width: unset;
  }

  .social-items {
    /* gap: unset; */
    justify-content: space-between;
    padding-top: 20px;
  }

  .hero-photo {
    display: none;
  }

  .hero-photo__mob {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 55%;
  }

  .skills-items {
    justify-content: center;
  }

  #about-me {
    height: 130vh;
  }
  
  #skills {
    height: 130vh;
    align-items: center;
  }
  
  #experience {
    height: 340vh;
  }
  
  #courses {
    height: 130vh;
  }
  
  #language {
    height: 130vh;
  }

  .experience {
    display: none;
  }

  .my-swiper {
    display: none
  }
/* _______________EXPERIENCE SECTION MOB VERSION STYLES______________ */

.wrapper {
  padding: 0 20px;
}
.experience-mob {
  display: block;
  padding-top: 7rem;
  position: relative;
}
.exp-title {
  color: var(--color-white2);
  font-weight: 100;
  position: relative;
  padding-top: 30px;
}
.exp-title::after {
  background-color: var( --color-violet);
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10rem;
  height: 3px;
  border-radius: 10px;
}

.exp-card__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.exp-card__item {
  width: 100%;
  height: 24rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* align-items: flex-start; */
  background-color: var(--color-white-05);
  border: 1px solid var(--color-white-05);
  border-radius: 10px;
  padding: 8px;
  margin-top: 2rem;
  position: relative;

  transform: translate(0px, 100%);
  opacity: 0;
  transition: all 0.7s ease 0s;
}
.exp-card__item.active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 0.7s ease 0s;
}


.card-item__title {
  color: var(--color-white2);
  font-weight: 100;
  /* padding-top: 0; */
  padding-bottom: 1rem;
  font-size: medium;
}
.card-item__descrp {
  color: var(--color-white2);
  font-size: 11px;
}

.card-item__left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-item__right-side {
  position: relative;
  display: inline-block;
  /* overflow: hidden; */

}


.card-item__img {
  /* width: 40rem;
  height: 25rem;
  border-radius: 10px;
  object-fit: cover;
  display: flex;
	transition: .3s ease-in-out; */

  border-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.card-item__img:hover {
  -webkit-transform: scale(1.3);
	transform: scale(1.05);
}


.card-item__url {
  color: var(--color-hover);
  position: relative;
  top: -5px;
  transition: .3s ease-in-out;
  padding: 0 15px 0 0;
}
}
